.idea
__pycache__
/build/
/.cmake
/CMakeFiles/
/cmake_install.cmake
/cmake-build-debug/
/CMakeCache.txt
/Makefile
/knapsack.cbp
/libknapsack.so
/libknapsack.so.1.0
/libknapsack.cbp
/pyknapsack.cpython-311-x86_64-linux-gnu.so
/run_knapsack
/tmp/*.o
/pyknapsack.egg-info/
/dist/pyknapsack-*-py*-*-*.egg
/Testing/Temporary/
